.b-contentLeftColumn {
  width: 550px;
  margin-right: 65px;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
    color: #343434;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 3px solid #18B0B6;
  }
}