.b-contentCategories {
    $block:&;
    display: flex;
    flex-wrap: wrap;
    grid-gap:20px;
    padding-top: 80px;
    padding-bottom: 90px;
    @include wrapper-inner;
    list-style-type: none;

    &__item {
        width: calc(100%/5 -20px);
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:26px 25px;
        background-color: #F2FAFE;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #18B0B6;
        box-sizing: border-box;
        text-decoration: none;
        
        &:hover {
        background: linear-gradient(180deg, #AF68C2 0%, #89429C 100%);
        border-color: transparent;
        } 

    }

    &__icon {
     #{$block}__link:hover & {
        display: none;
     }
 
     
    }

    &__iconHover {
     display:none;

        #{$block}__link:hover & {
                display: block;
            }
 }

    &__text {
      margin-left: 10px;
      font-weight: 500;
      font-size: 21px;
      line-height: 1.19;
      color: #27272E;

        #{$block}__link:hover & {
                color:#FFFFFF;
            }

    }
}