.b-firstScreen {
    @include wrapper-inner;
    display: flex;
    justify-content: space-between;
    padding-top:155px;

    &__header {
      max-width: 555px;
      font-weight: 700;
      font-size: 30px;
      line-height: 1.4;
      color: #FFFFFF;
      margin: 0px;
      padding: 0px;
    }

}
