/**
 * @section mainNavigation
 */
.b-mainNavigation {
  display: flex;
  list-style-type: none;



  &__list {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 2.22;

  }

    &__list:first-child{
     padding-right: 39px;
     margin-right: 39px;
     border-right:1px solid rgba(100%, 100%, 100%, 0.41);
     }


    &__list:last-child {
   padding-left: 39px;
    margin-left: 39px;
    border-left: 1px solid rgba(100%, 100%, 100%, 0.41);
    }

  &__link {
  text-decoration: none;
    color: #FFFFFF;
  }

}
