/**
 * @section siteCopyright
 */

.b-siteCopyright {
  @include wrapper-inner;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.75;
  color: rgba(255, 255, 255, 0.490429);
  text-transform: uppercase;
  padding-top: 19px;
  padding-bottom: 20px; 
  border-top: 1px solid rgba(100%, 100%, 100%, 0.31);

  &__BoldText {
    color:#FFFFFF;
  }
}

